.home{
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 25px;
}

body {
  background-color: rgba(14, 22, 46, 0.925);
}

.card {
    width: 100%;
}

#chat2 .form-control {
    border-color: transparent;
  }
  
  #chat2 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }

  .col-md-10 {
    padding: 0;
    width: 100%;
}

.inputBox input {
  width: 100%;
  font-size: 18px;
  color: white;
  background-color: transparent;
  margin-inline: 20px;
  border: 0;
  outline: none;
}

.inputBox {
  width: 50%;
  display: flex;
  padding: 10px;
  border-radius: 12px;
  border:1px solid gray;
  height: fit-content;
}

@media (max-width: 600px) {
  .inputBox {
    width: 100%;
  }

  .inputBox input {
    font-size: 16px;
  }

  #baixaroapp {
    display: none;
  }
}

#headerBtns .btn{
  margin-inline: 10px;
}