body {
    overflow: hidden;
    background: linear-gradient(to right, #000000, #001131);
    height: fit-content;
}

.container {
    margin-top: 100px;
    width: 100%;
    color: white;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
}

span {  
    color: white;
}

.btns{
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 100%;
    padding: 20px;
}

.btns a{
    margin-inline: 30px;
    border-radius: 25px;
}

.btns a span:hover {
    color: #dddddde4;
}   

.pbtn{
    font-size: 25px;
    background-color: rgba(3, 6, 20, 0.776);
    color: white;
    border: 1px solid white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pbtn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.iaimg1 {
    position: absolute;
    width: 500px;
    right: 0;
    bottom: 0;
}

.page {
    display: flex;
    flex-direction: column;
}   